<%- include("./partials/head") %>
  <body>
    <header>
      <div class="flex justify-center m-5">
        <div class="bg-emerald-100 text-center shadow-lg rounded-md">
          <h1 class="text-2xl text-red-500 font-bold pt-4">404</h1>

          <h1 class="text-2xl text-red-500 font-bold pl-4 pr-4 pb-4">
            Oops! page not found
          </h1>
          <button
            class="cursor:pointer bg-red-500 text-white hover:bg-red-600 shadow-lg rounded-md mb-3 mt-1 w-[11rem] h-[2rem]"
          >
            <a class="p-3 font-semibold" href="/">Go To Home</a>
          </button>
        </div>
      </div>
    </header>
  </body>
</html>
