<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="output.css" />
    <title>Home Renting Web</title>
  </head>
  <body>
    <header>
      <h1 class="text-blue-700 text-xl font-bold bg-gray-200 text-center p-4">
        Welcome to House Renting Webpage
      </h1>
    </header>
    <main>
      <button
        class="text-md text-center bg-red-300 p-2 m-3 rounded-md font-semibold cursor:pointer hover:bg-red-400 active:bg-red-500"
      >
        <a href="/host/add-home" class="text-center">Add Home</a>
      </button>
    </main>
  </body>
</html>
