<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact-Page</title>
  </head>
  <body>
    <header>
      <h1>User info</h1>
    </header>
    <main>
      <form action="/contact-us" method="POST">
        <input type="text" placeholder="Username" name="username" />
        <br />
        <input type="text" placeholder="Email" name="useremail" />
        <br />
        <input type="submit" value="submit" />
      </form>
    </main>
  </body>
</html>
