<% if(typeof errors !== 'undefined' && errors.length > 0 && errors) { %>
    <div class="text-red-500 text-sm mb-2 bg-red-100 p-3 rounded-lg border border-red-200">
        <% errors.forEach((error) => { %>
            <p><%= error %></p>
        <% }); %>
    </div>
    <br />
<% } %>